//FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Satisfy&family=Ubuntu&display=swap');

$ff-nunito: 'Nunito', sans-serif;;
$ff-ubuntu: 'Ubuntu', sans-serif;
$ff-satisfy: 'Satisfy', cursive;

//TEXT SIZE
$text-sm: 1.5rem;
$text-md: 1.7rem;
$text-lg: 2rem;

// PRINCIPAL TITLE SIZE
$title1-sm: 4rem;
$title1-md: 6rem;
$title1-lg: 8rem;

//SECONDARY TITLE SIZE
$title2-sm: 2rem;
$title2-md: 2.5rem;
$title2-lg: 3rem;

//TERTIARY TITLE SIZE
$title3-sm: 1.7rem;
$title3-md: 2.3rem;
$title3-lg: 2.6rem;