/*INICIA PRODUCTOS*/
.h2-titulo {
    font-family: $ff-ubuntu;
    @include titulo-md;
        @include breakpoint-md {
            @include titulo-lg;
        }
}

.contenedor-productos {
    @include flex-column;
    .h2-titulo {
        font-family: $ff-ubuntu;
        @include titulo-sm;
        @include breakpoint-md {
            @include titulo-md;
        }
    }
    @include breakpoint-md {
        @include flex-row;
        justify-content: space-evenly;
    }
    .producto {
        width: 100%;
        @include flex-column;
        align-items: center;
        .imagen-producto {
            width: 100%;
            max-width: 350px;
            @include flex-center;
            .imagen-producto-width {
                width: 100%
            }
        }
        .h3-titulo {
            font-family: $ff-nunito;
            @include subtitulo-sm;
            @include breakpoint-md {
                @include subtitulo-md;
            }
        }
        .texto {
            font-family: $ff-nunito;
            font-size: $text-sm;
            text-align: center;
        }
        @include breakpoint-md {
            width: 40%;
        }
        @include breakpoint-lg {
            width: 40%;
        }
        @include breakpoint-xl {
            width: 22%;
        }
    }
}
/*TERMINA PRODUCTOS*/